name: Conda install

on:
  push:
  pull_request:
    branches:
      - main
      - dev

# Cancel if a newer run is started
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: "latest"
          activate-environment: foo
      - name: install amulety
        shell: bash -el {0}
        run: |
          conda config --set always_yes yes --set changeps1 no
          conda install -c conda-forge mamba
          mamba install -c conda-forge -c bioconda amulety
          amulety --version
